<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[
                %yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %magenta([%15.15thread]) %clr(%-5level) | %blue(%42.42logger{42}) | %msg%n
                ]]></pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
